<link rel="stylesheet" href="{{ asset('bundles/app/css/toplist.css') }}">
<div class="box">
<div class="box-header">
  <h3 class="box-title">榜单</h3>

  <div class="box-tools">
    <ul class="pagination pagination-sm no-margin pull-right">
      <li class="active" id="score-user"><span class="badge bg-yellow"><i class="fa fa-fw fa-usd"></i></span></li>
      <li id="knowledge-user"><span class="badge bg-blue"><i class="fa fa-fw fa-eye"></i></span></li>
      <li id="browse-user"><span class="badge bg-green"><i class="fa fa-fw fa-file-o"></i></span></li>
    </ul>
  </div>
</div>
<!-- /.box-header -->
<div class="box-body no-padding">
  <table class="table list-top"  id="score-user-list">
    {% for scoreUser in scoreUsers %}
      <tr>
        <td>{{loop.index}}</td>
        <td><a href="{{ path('user_page',{userId:scoreUser.id}) }}"  rel="author">{{scoreUser.username}}</a></td>
        <td><span class="badge bg-yellow"><i class="fa fa-fw fa-usd"></i>{{scoreUser.score}}</span></td>
      </tr>
    {% endfor %}
  </table>
  <table class="table list-top" id="knowledge-user-list" style="display:none">
    {% for knowledgeUser in knowledgeUsers %}
      <tr>
        <td>{{loop.index}}</td>
        <td><a href="{{ path('user_page',{userId:knowledgeUser.id}) }}"  rel="author">{{knowledgeUser.username}}</a></td>
        <td><span class="badge bg-blue"><i class="fa fa-fw fa-eye"></i>{{knowledgeUser.browseNum}}</span></td>
      </tr>
    {% endfor %}
  </table>
  <table class="table list-top" id="browse-user-list" style="display:none">
    {% for browseUser in browseUsers %}
      <tr>
        <td>{{loop.index}}</td>
        <td><a href="{{ path('user_page',{userId:browseUser.id}) }}"  rel="author">{{browseUser.username}}</a></td>
        <td><span class="badge bg-green"><i class="fa fa-fw fa-file-o"></i>{{browseUser.knowledgeNum}}</span></td>
      </tr>
    {% endfor %}
  </table>
</div>
<!-- /.box-body -->
</div>
{% block javascripts %}
    {% for path in script()  %}
    <script src="{{ asset( 'assets/' ~ path) }}"></script>
    {% endfor %}
    <script src="{{ asset('bundles/app/js/toplist/toplist.js') }}"></script>
{% endblock %}