<link rel="stylesheet" href="{{ asset('bundles/app/css/toplist.css') }}">
<div class="box">
<div class="box-header">
  <h3 class="box-title">热门主题</h3>

  <div class="box-tools">
    <ul class="pagination pagination-sm no-margin pull-right">
      <li class="active" id="follow-topic"><span class="badge bg-red"><i class="fa fa-fw fa-heart"></i></span></li>
      <li id="knowledge-topic"><span class="badge bg-green"><i class="fa fa-fw fa-file-o"></i></span></li>
    </ul>
  </div>
</div>
<!-- /.box-header -->
<div class="box-body no-padding">
  <table class="table list-top" id="follow-topic-list">
    {% for followTopic in followTopics %}
    <tr>
      <td>{{loop.index}}</td>
      <td><a href="{{ path('topic_knowledge', {id:followTopic.id}) }}">{{followTopic.name}}</a></td>
      <td><span class="badge bg-red"><i class="fa fa-fw fa-heart"></i>{{followTopic.followNum}}</span></td>
    </tr>
    {% endfor %}
  </table>
  <table class="table list-top" id="knowledge-topic-list" style="display:none">
    {% for knowledgeTopic in knowledgeTopics %}
    <tr>
      <td>{{loop.index}}</td>
      <td><a href="{{ path('topic_knowledge', {id:knowledgeTopic.id}) }}">{{knowledgeTopic.name}}</a></td>
      <td><span class="badge bg-green"><i class="fa fa-fw fa-file-o"></i>{{knowledgeTopic.knowledgeNum}}</span></td>
    </tr>
    {% endfor %}
  </table>
</div>
<!-- /.box-body -->
</div>
{% block javascripts %}
    {% for path in script()  %}
    <script src="{{ asset( 'assets/' ~ path) }}"></script>
    {% endfor %}
    <script src="{{ asset('bundles/app/js/toplist/toplist.js') }}"></script>
{% endblock %}