{% extends 'TopxiaWebBundle:Default:index.html.twig' %}
{% set loadjs = {'site':'default.js'} %}
{% if loadjs is defined and not null %}
    {% block javascripts %}
        <script src="{{ asset('bundles/Topxiaweb/js/default.js') }}"></script>
    {% endblock %}
{% endif %}

{% block navTabs %}
    <ul class="nav nav-tabs">
        <li role="newknowledge"><a href="{{ path('system_web_homepage') }}">最新知识</a></li>
        <li role="myconcern"><a href="#timeline">我的关注<span style="color:#f00">999+</span></a></li>
        <li role="theme" class="active"><a href="{{ path('theme') }}">主题</a></li>
    </ul>
{% endblock %}

{% block content %}
    {% for theme in themes %}
        <div class="box">
            <div class="box-header with-border">
              <h3 class="box-title">{{ theme.name }}</h3>
              <p style="float:right; text-align:right">{{ theme.createTime }}</p>
            </div>
        </div>
    {% endfor %}
{% endblock %}