{{ script(['js/vendor.js', 'js/global.js'])}}
{{ css('css/vendor.css') }}

<aside class="sidebar visible-lg"><!--右侧>992px显示-->
    <div class="sentence"> <strong>每日一句</strong>
        {{ render(controller('AppBundle:Default:noticeToDoList'))}}
        <h2>2015年11月1日 星期日</h2>
        <p>你是我人生中唯一的主角，我却只能是你故事中的一晃而过得路人甲。</p>
    </div>
    {{ render(controller('AppBundle:Default:listTopKnowledges')) }}
    {{ render(controller('AppBundle:Default:listTopTopics')) }}
    {{ render(controller('AppBundle:Default:listTopUsers')) }}
</aside>
{% block javascripts %}
    <script src="{{ asset('bundles/app/js/toplist/toplist.js') }}"></script>
{% endblock %}