<header class="main-header">
    <nav class="navbar navbar-static-top">
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <li style="margin-right: 20px;">
                    <form class="navbar-form navbar-left" action="{{ path('search_info') }}" method="get" style="padding-top:0px;padding-left:20px">
                        <div class="input-group">
                            <input type="hidden" name="searchType" {% if searchType is defined and searchType %} value="{{ searchType }}" {% else %} value="knowledge"{% endif %}>
                            <input type="text" class="form-control" name="query" size="30" placeholder="搜索感兴趣的知识...">
                                <span class="input-group-btn">
                                  <button class="btn btn-default btn-search" type="submit"> <i class="fa fa-fw fa-search"></i>
                                  </button>
                                </span>
                        </div>
                    </form>
                </li>
                <li class="pull-right">
                    <div class="navbar-header header-xs-logo">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#header-xs-menu" aria-expanded="false" aria-controls="navbar"><span class="glyphicon glyphicon-menu-hamburger"></span></button>
                    </div>
                </li>
                {% if app.user %}
                    {{ render(controller('AppBundle:Base:imagePath')) }}
                {% else %}
                    <li class="pull-right">
                        <a href="{{ path('register') }}">
                        <span>
                            注册
                        </span>
                        </a>
                    </li>
                    <li class="pull-right">
                        <a href="{{ path('login') }}">
                        <span>
                            登陆
                        </span>
                        </a>
                    </li>
                {% endif %}
                {% if app.user %}
                <li class="dropdown pull-right">
                    <a class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <i class="fa fa-plus"></i>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1" id="addTable">
                        <li><a href="#" class="btn btn-lg" id="docModal" data-url="{{path('doc_modal')}}">文档</a></li>
                        <li><a href="#" class="btn btn-lg" id="linkModal" data-url="{{path('link_modal')}}">链接</a></li>
                    </ul>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>
</header>
<div class="visible-xs header-xs">
    <!--超小屏幕可见-->
    <div id="header-xs-menu" class="navbar-collapse collapse">
        <ul class="nav navbar-nav header-xs-nav">
            <li class="active"><a href="{{path('homepage')}}"><i class="fa fa-book"></i>&nbsp;&nbsp;</span>知识广场</a></li>
            <li><a href="{{path('my_knowledge_share')}}"><i class="fa fa-child"></i>&nbsp;&nbsp;</span>我的知识库</a></li>
        </ul>
    </div>
</div>