<li class="dropdown user user-menu pull-right">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <img src="{{ asset(user.imageUrl) }}" class="user-image" alt="User Image">
        <span class="hidden-xs">{{ user.username }}</span>
    </a>
    <ul class="dropdown-menu">
        <li class="user-header">
            <img src="{{ asset(user.imageUrl) }}" class="img-circle" alt="User Image">
            <p>
                {{ user.username }}
                <small>{{ app.user.created |date('Y年m月d日') }}</small>
            </p>
        </li>
        <li class="user-body">
            <div class="row">
                <div class="col-xs-4 text-center">
                    <i class="fa fa-star-o"></i>
                </div>
                <div class="col-xs-4 text-center">
                    <i class="fa fa-thumbs-up"></i>
                </div>
                <div class="col-xs-4 text-center">
                    <i class="fa  fa-graduation-cap"></i>
                </div>
            </div>
        </li>
        <li class="user-footer">
            <div class="pull-left">
                <a data-url="{{path('picture_upload')}}" class="btn btn-default btn-flat" id="user-setting">设置</a>
            </div>
            <div class="pull-right">
                <a href="{{ path('logout') }}" class="btn btn-default btn-flat">退出</a>
            </div>
        </li>
    </ul>
</li>