<ul class="nav nav-tabs">
    <li role="presentation" {% if SearchType == 'knowledge' %}class="active" {% endif %}><a href="{{path('search_info', {SearchType:'knowledge'})}}&query={{ query }}">知识</a></li>
    <li role="presentation" {% if SearchType == 'user' %} class="active" {% endif %}><a href="{{path('search_info', {SearchType:'user'})}}&query={{ query }}">用户</a></li>
    <li role="presentation" {% if SearchType == 'topic' %} class="active" {% endif %}><a href="{{path('search_info', {SearchType:'topic'})}}&query={{ query }}">主题</a></li>
</ul>