<ul class="nav nav-tabs">
    <li role="presentation" {% if type == 'knowledge' %}class="active" {% endif %}><a href="{{path('search_info', {type:'knowledge'})}}&query={{ query }}">知识</a></li>
    <li role="presentation" {% if type == 'user' %} class="active" {% endif %}><a href="{{path('search_info', {type:'user'})}}&query={{ query }}">用户</a></li>
    <li role="presentation" {% if type == 'topic' %} class="active" {% endif %}><a href="{{path('search_info', {type:'topic'})}}&query={{ query }}">主题</a></li>
</ul>