{% extends 'TopxiaWebBundle::base.html.twig' %}
{% block left_header %}
    {% include 'TopxiaWebBundle::left-header.html.twig' %}
{% endblock %}
{% block base_content %}
    <div class="content">
        <div class="content-block new-content">
            {% block navTabs %}
                <ul class="nav nav-tabs">
                    <li role="newknowledge" class="active"><a href="{{path('homepage')}}">最新知识</a></li>
                    <li role="myconcern"><a href="#timeline">我的关注<span style="color:#f00">999+</span></a></li>
                    <li role="topic"><a href="{{path('topic')}}">主题</a></li>
                </ul>
                <br>
            {% endblock %}
            <div class="row" id="knowledge-list">
                <div class="form-group">
                    <label class="col-sm-2 control-label">CSRF</label>
                    <div class="col-sm-10">
                        <a href="{{ path('form_submit') }}" class="btn btn-sm btn-default">正常提交</a>
                        <a href="{{ path('ajax_form_submit') }}" class="btn btn-sm btn-default">Ajax提交</a>
                    </div>
                </div>
                {% if knowledges is defined and knowledges %}
                    {% for knowledge in knowledges %}
                        {% set user = users[knowledge.userId]|default(null) %}
                        {% include "TopxiaWebBundle:Default:single-knowledge-list.html.twig" %}
                    {% endfor %}
                {% else %}
                    <div class="panel-title"><h4 align="center">---暂无分享记录---</h4></div>
                {% endif %}
            </div>
            {{ web_macro.paginator(paginator) }}
        </div>
    </div>
{% endblock %}
{% block aside %}
    {% include 'TopxiaWebBundle::aside.html.twig' %}
{% endblock %}