<div class="box">
  <div class="box-header with-border">
    <h3 class="box-title"><a href="{{path('knowledge_detail',{id:userKnowledge.id})}}">{{userKnowledge.title}}</a><a href="#"><i class="{% if userKnowledge.type == 'link' %}fa fa-link{% else %}fa fa-sticky-note-o{% endif %}"></i></a></h3>
  </div>
<div class="box-body">
{{userKnowledge.summary}}
</div>
<div class="box-footer">
  <ul class="list-inline pull-right">
    <li>创建日期:{{userKnowledge.createdTime}}</li>
    <li>创建者:{{userKnowledge.userName}}</li>
  </ul>
  <ul class="list-inline">
    <li><a href="{{path('MyKnowledge_addCollection',{knowledgeId:userKnowledge.id})}}" id="collect-link" data-id="{{userKnowledge.id}}"><i class="fa fa-star-o text-yellow" id="knowledge-list-{{userKnowledge.id}}"></i></a>{{userKnowledge.collectNum}}</li>
    <li><a href="#"><i class="fa fa-thumbs-o-up text-yellow"></i></a>{{userKnowledge.likeNum}}</li>
  </ul>
</div>
</div>