<div class="news-list">
  <div class="news-info col-xs-12 col-sm-12 col-md-11">
    <dl>
      <dt>
        <a href="{{path('knowledge_detail',{id:userKnowledge.id})}}" target="_blank" > {{userKnowledge.title}}
          <i class="{% if userKnowledge.type == 'link' %}fa fa-link{% else %}fa fa-sticky-note-o{% endif %}">

          </i>
        </a>
      </dt>
      <dd>
        <span class="name">
          <a href="javascript:;"  rel="author">创建者:{{userKnowledge.userName}}</a>
        </span>
        <span class="identity"></span>
        <span class="time">
          创建日期:{{userKnowledge.createdTime}}
        </span>
      </dd>
      <dd class="text">{{userKnowledge.summary}}</dd>
    </dl>
    <div class="news_bot col-sm-7 col-md-8">
      <span class="tags visible-lg visible-md">
        <a href="avascript:;">技术贴</a>
        <a href="javascript:;">PHP</a>
      </span>
      <span class="look">
        <i class="fa fa-star-o"></i><strong title="收藏" style="cursor: pointer"> 2126 </strong>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <i class="fa fa-thumbs-up"></i><strong title="点赞" style="cursor: pointer"> 12 </strong>
      </span>
    </div>
  </div>
</div>