<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}知识分享系统{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.icon') }}" />
    <link rel="stylesheet" href="{{ asset('assets/css/vendor.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/topxiaweb/css/base.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/topxiaweb/css/base-header.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/topxiaweb/css/left-aside.css') }}">
    <script src="{{ asset('assets/js/vendor.js') }}"></script>
    <script src="{{ asset('assets/js/modal.js') }}"></script>
</head>
<body class="hold-transition skin-green-light sidebar-mini">
{% block body %}
    <div class="wrapper">
        {% include 'TopxiaWebBundle::header.html.twig' %}
        {% include 'TopxiaWebBundle::addLink.html.twig' %}
        {% block leftaside %}

        {% endblock %}
        <div class="content-wrapper" id="base-tab">
          <div class="nav-tabs-custom">
              {% block navTabs %}

              {% endblock %}
          </div>
          {% block content %}

          {% endblock %}
        </div>

        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                <b>Version</b> 2.3.3
            </div>
            <strong>Copyright &copy; 2014-2015 <a href="http://almsaeedstudio.com">Almsaeed Studio</a>.</strong> All rights
            reserved.
        </footer>
        {% block rightaside %}

        {% endblock %}
        <div class="control-sidebar-bg"></div>
    </div>
{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>
