<!DOCTYPE html>
{% set loadjs = loadjs|default(null) %}
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.icon') }}" />
    <link rel="stylesheet" href="{{ asset('assets/css/vendor.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/topxiaweb/css/base.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/topxiaweb/css/baseHeader.css') }}">
    <script src="{{ asset('assets/js/vendor.js') }}"></script>
</head>
<body class="hold-transition skin-green-light sidebar-mini">
{% block body %}
    <div class="wrapper">
        {% include 'TopxiaWebBundle:Default:header.html.twig' %}
        {% include 'TopxiaWebBundle:Default:left-aside.html.twig' %}
        {% include 'TopxiaWebBundle:Default:right-aside.html.twig' %}
        <div class="content-wrapper" id="base-tab">
          <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
              <li role="newknowledge" class="active"><a href="#profile" aria-controls="newknowledge" role="tab" data-toggle="tab">最新知识</a></li>
              <li role="myconcern"><a href="#timeline" aria-controls="myconcern" role="tab" data-toggle="tab">我的关注<span style="color:#f00">999+</span></a></li>
              <li role="theme"><a href="#theme" aria-controls="theme" role="tab" data-toggle="tab">主题</a></li>
            </ul>
        </div>
          {% block content %}
          {% endblock %}
        </div>

        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                <b>Version</b> 2.3.3
            </div>
            <strong>Copyright &copy; 2014-2015 <a href="http://almsaeedstudio.com">Almsaeed Studio</a>.</strong> All rights
            reserved.
        </footer>
        {% include 'TopxiaWebBundle:Default:right-aside.html.twig' %}
        <div class="control-sidebar-bg"></div>
    </div>
{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>
