{% extends 'TopxiaWebBundle::base.html.twig' %}

{% block left_header %}
    <div class="box box-primary">
      <div class="box-body box-profile">
        <img class="profile-user-img img-responsive img-circle" src="/bundles/topxiaweb/img/user.jpg">

        <h3 class="profile-username text-center">昵称：{{ user.name }}</h3>

        <ul class="list-group list-group-unbordered" id="user">
          <li class="list-group-item">
            <b>分享知识数</b> <a class="pull-right">{{ knowledgeCount }}</a>
          </li>
          <li class="list-group-item">
            <b>收藏数</b> <a class="pull-right">{{ favoriteCount }}</a>
          </li>
          <li class="list-group-item" id="follow-btn" data-url="{{path('user_follow',{id:user.id})}}"　{% if hasfollowed is defined and hasfollowed == true %} style="display:none"{% endif %}>
          <b>关注</b> <a class="pull-right"><i class="fa fa-fw fa-heart-o"></i></a>
          </li>
          <li class="list-group-item" id="unfollow-btn" data-url="{{path('user_unfollow',{id:user.id})}}" {% if hasfollowed is defined and hasfollowed == false %}style="display:none"{% endif %}>
          <b>已关注</b> <a class="pull-right" ><i class="fa fa-fw fa-heart"></i></a>
          </li>
        </ul>
      </div>
      <!-- /.box-body -->
    </div>
{% endblock %}

{% block base_content %} 
  <div class="content">
    <div class="content-block new-content">
      {% block navTabs %}
        {% include 'TopxiaWebBundle::knowledge-library-nav.html.twig' %}
      {% endblock %}
      <div class="row">
        {% if knowledge %} 
          {% for userKnowledge in knowledge %}  

            <div class="box">
              <div class="box-header with-border">
                <h3 class="box-title"><a href="{{path('knowledge_detail',{id:userKnowledge.id})}}">{{userKnowledge.title}}</a><a href="#"><i class="{% if userKnowledge.type == 'link' %}fa fa-link{% else %}fa fa-sticky-note-o{% endif %}"></i></a></h3>
              </div>
            <div class="box-body">
            {{userKnowledge.summary}}
            </div>
            <div class="box-footer">
              <ul class="list-inline pull-right">
                <li>创建日期:{{userKnowledge.createdTime|date('Y年m月d日')}}</li>
                <li>创建者:{{userKnowledge.userId}}</li>
              </ul>
              <ul class="list-inline">
                <li><a href="{{path('knowledge_favorite',{knowledgeId:userKnowledge.id})}}" id="collect-link" data-id="{{userKnowledge.id}}"><i class="fa fa-star-o text-yellow" id="knowledge-list-{{userKnowledge.id}}"></i></a>{{userKnowledge.favoriteNum}}</li>
                <li><a href="#"><i class="fa fa-thumbs-o-up text-yellow"></i></a>{{userKnowledge.likeNum}}</li>
              </ul>
            </div>
            </div>
            
          {% endfor %}
        {% else %}
            <div class="panel-title">
              <h4 align="center">---暂无分享记录---</h4>
            </div>
        {% endif %}
      </div>
      <div class="quotes" style="margin-top:15px">
        <span class="disabled">首页</span>
        <span class="disabled">上一页</span>
        <span class="current">1</span>
        <a href="index.html">2</a>
        <a href="index.html">下一页</a>
        <a href="index.html">尾页</a></div>
      </div>
    </div>
  </div>  
{% endblock %}
