{% extends 'TopxiaWebBundle::base.html.twig' %}
{% block left_header %} 
<ul class="nav hidden-xs-nav nav-pills nav-stacked">
  <li>
    <a href="{{path('homepage')}}">
      <i class="fa fa-book"></i><span>知识广场</span>
    </a>
  </li>
  <li class="active">
    <a href="{{path('my_knowledge_share')}}">
      <i class="fa fa-child"></i><span>我的知识库</span>
    </a>
  </li>
</ul>
{% endblock %}
{% block aside %}
  {% include 'TopxiaWebBundle::aside.html.twig' %}
{% endblock %}
{% block base_content %} 
  <div class="content">
    <div class="content-block new-content">
      {% block navTabs %}
        <ul class="nav nav-tabs">
          <li role="share"><a href="{{path('my_knowledge_share')}}">我的分享</a></li>
          <li role="myconcern" class="active"><a href="{{path('my_favorites')}}">我的收藏</a></li>
          <li role="topic"><a href="{{path('my_knowledge_share')}}">我的关注</a></li>
        </ul>
      {% endblock %}
      <div class="row" id="knowledge-list">
        {% if knowledges is defined and knowledges %}
          {% for knowledge in knowledges %}
            {% set user = users[knowledge.userId]|default(null) %}
              <div class="news-list">
                <div class="news-info col-xs-12 col-sm-12 col-md-11">
                  <dl>
                    <dt>
                      <a href="{{path('knowledge_detail',{id:knowledge.id})}}" target="_blank" ><i class="{% if knowledge.type == 'link' %}fa fa-link{% else %}fa fa-sticky-note-o{% endif %}"></i>&nbsp;&nbsp;{{knowledge.title}}
                      </a>
                    </dt>
                    <span style="float:right">
                      <a class="btn delete-btn btn-default fa fa-trash delete-favorite" data-url="{{path('knowledge_unfavorite', {id:knowledge.id})}}"></a>
                    </span>
                    <dd>
                      <span class="name">
                        <a href="{{ path('user_page',{id:knowledge.userId}) }}"  rel="author">创建者:{{user.username}}</a>
                      </span>
                      <span class="identity"></span>
                      <span class="time">
                        创建日期:{{knowledge.createdTime |date('Y年m月d日') }}
                      </span>
                    </dd>
                    <dd class="text">{{knowledge.summary}}</dd>
                  </dl>
                  <div class="news_bot col-sm-7 col-md-8">
                    <span class="tags visible-lg visible-md">
                      <a href="javascript:;">技术贴</a>
                      <a href="javascript:;">PHP</a>
                    </span>
                  </div>
                </div>
              </div>
            {% endfor %}
          {% else %}
            <div class="panel-title"><h4 align="center">---暂无分享记录---</h4></div>
          {% endif %}
      </div>
    </div>
{#   {{ web_macro.paginator(paginator) }} #}
  </div>  
{% endblock %}
