{% extends 'AppBundle::base.html.twig' %}
{% block aside %}
  {% include 'AppBundle::aside.html.twig' %}
{% endblock %}
{% block left_header %}
    <ul class="nav hidden-xs-nav nav-pills nav-stacked" id="left-side-bar">
  <li class="">
    <ul class="list-group">
      <li class="list-group-heading" style="padding: 10px 15px;"> <i class="fa fa-book">&nbsp;&nbsp;
        知识广场</i> 
      </li>
      <li class=" list-group-item" style="border:none;">
        <span style="padding-left:21px;"><a href="{{path('homepage')}}">最新知识</a></span>
      </li>
      <li class="list-group-item" style="border:none;">
        <span style="padding-left:21px;"><a href="#timeline">我的关注</a><span class="badge">14</span></span>
      </li>
      <li class="list-group-item" style="border:none;">
        <span style="padding-left:21px;"><a href="{{path('topic')}}">主题</a></span>
      </li>
    </ul>
  </li>
  <li>
    <ul class="list-group">
      <li class="list-group-heading" style="padding: 10px 15px;"> <i class="fa fa-book">&nbsp;&nbsp;
        我的知识库</i> 
      </li>
      <li class="list-group-item" style="border:none;border-left:solid 4px #46c37b;color:#46c37b;">
        <span style="padding-left:21px;"><a href="{{path('my_knowledge_share')}}">我的分享</a></span>
      </li>
      <li class="list-group-item" style="border:none;">
        <span style="padding-left:21px;"><a href="{{path('my_favorites')}}">我的收藏</a></span>
      </li>
      <li class="list-group-item" style="border:none;">
        <span style="padding-left:21px;"><a href="{{path('my_follows', {type:'topic'})}}">我的关注</a></span>
      </li>
      <li class="list-group-item" style="border:none;">
        <span style="padding-left:21px;"><a href="{{path('my_knowledge_share_todolist')}}">待读列表</a></span>
      </li>
    </ul>
  </li>
</ul>
{% endblock %}
{% block base_content %} 
  <div class="content">
    <div class="content-block new-content">
      {% block navTabs %}
        {% include 'AppBundle::knowledge-library-nav.html.twig' %}
      {% endblock %}
      <div class="row">
        {% if knowledges %} 
          {% for knowledge in knowledges %}
            <div class="news-list">
              <div class="news-info col-xs-12 col-sm-12 col-md-11">
                <dl>
                  <dt>
                    <a href="{{path('knowledge_detail',{id:knowledge.id})}}">
                    {% if knowledge.type == 'file' %}<i class="fa fa-sticky-note-o"></i>{% elseif knowledge.type == 'link' %}<i class="fa fa-link"></i>{% endif %}&nbsp&nbsp{{knowledge.title}}
                    </a>
                  </dt>
                  <span style="float:right">
                    <a class="btn btn-primary fa fa-edit edit-btn" data-url="{{path('my_knowledge_share_edit',{id:knowledge.id})}}"></a>
                    <a class="btn btn-default fa fa-trash delete-btn" data-url="{{path('my_knowledge_share_delete',{id: knowledge.id})}}"></a>
                  </span>
                </dl>
              </div>
            </div>  
          {% endfor %}
        {% else %}
          <div class="panel-title">
            <h4 align="center">---暂无分享记录---</h4>
          </div>
        {% endif %}
      </div>
    </div>
  {{ web_macro.paginator(paginator) }}
  </div>  
{% endblock %}
