{% extends 'AppBundle::base.html.twig' %}
{% block aside %}
    {% include 'AppBundle::aside.html.twig' %}
{% endblock %}
{% block left_header %}
    <ul class="nav hidden-xs-nav nav-pills nav-stacked" id="left-side-bar">
        <li class="">
            <ul class="list-group">
                <li class="list-group-heading" style="padding: 10px 15px;"> <i class="fa fa-book">&nbsp;&nbsp;
                        知识广场</i>
                </li>
                <li class=" list-group-item" style="border:none;">
                    <span style="padding-left:21px;"><a href="{{path('homepage')}}">最新知识</a></span>
                </li>
                <li class="list-group-item" style="border:none;">
                    <span style="padding-left:21px;"><a href="#timeline">我的关注</a><span class="badge">14</span></span>
                </li>
                <li class="list-group-item" style="border:none;">
                    <span style="padding-left:21px;"><a href="{{path('topic')}}">主题</a></span>
                </li>
            </ul>
        </li>
        <li>
            <ul class="list-group">
                <li class="list-group-heading" style="padding: 10px 15px;"> <i class="fa fa-book">&nbsp;&nbsp;
                        我的知识库</i>
                </li>
                <li class="list-group-item" style="border:none;">
                    <span style="padding-left:21px;"><a href="{{path('my_knowledge_share')}}">我的分享</a></span>
                </li>
                <li class="list-group-item" style="border:none;">
                    <span style="padding-left:21px;"><a href="{{path('my_favorites')}}">我的收藏</a></span>
                </li>
                <li class="list-group-item" style="border:none;">
                    <span style="padding-left:21px;"><a href="{{path('my_follows', {type:'topic'})}}">我的关注</a></span>
                </li>
                <li class="list-group-item" style="border:none;">
                    <span style="padding-left:21px;"><a href="{{path('my_knowledge_share_todolist')}}">待读列表</a></span>
                </li>
            </ul>
        </li>
    </ul>
{% endblock %}
{% block base_content %}
    <div class="content">
        <div class="content-block new-content">
            {% block navTabs %}
                {% include 'AppBundle::search-nav.html.twig' %}
            {% endblock %}
            <div class="row" id="knowledge-list">
                {% if searchType == 'topic'%}
                    {% if topics is defined and topics %}
                        {% for topic in topics %}
                            {% include "AppBundle:Topic:single-topic-list.html.twig" %}
                        {% endfor %}
                    {% else %}
                        <div class="panel-title"><h4 align="center">---暂无分享记录---</h4></div>
                    {% endif %}
                {% elseif searchType == 'user' %}
                    {% if users is defined and users %}
                        {% for user in users %}
                            {% include "AppBundle:Default:single-user-list.html.twig" %}
                        {% endfor %}
                    {% endif %}
                {% else %}
                    {% if knowledges is defined and knowledges %}
                        {% for knowledge in knowledges %}
                            {% if knowledge.toread is not defined %}
                                {% set user = users[knowledge.userId]|default(null) %}
                                {% include "AppBundle:Default:single-knowledge-list.html.twig" %}
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        <div class="panel-title"><h4 align="center">---暂无分享记录---</h4></div>
                    {% endif %}
                {% endif %}
            </div>
            {{ web_macro.paginator(paginator) }}
        </div>
    </div>
{% endblock %}
