<form method="post" action="">
	<div class="input-group margin">
		<input type="text" class="form-control" name="comment">
	    <span class="input-group-btn">
	      <button type="botton" class="btn btn-info btn-flat" id="comment" data-url="{{ path('knowledge_add_comment') }}" data-id="{{ knowledge.id }}">评论</button>
	    </span>
	</div>
</form>
{% for comment in comments %}
 <div class="box-footer box-comments">
  <div class="box-comment">
    <!-- User image -->
    <img class="img-circle img-sm" src="{{ asset('bundles/topxiaweb/img/user.jpg') }}" alt="User Image">
    <div class="comment-text">
          <span class="username">
            {{ commentUsers[comment.userId-1].name }}
            <span class="text-muted pull-right">{{ comment.createdTime|date('Y年m月d日') }}</span>
          </span><!-- /.username -->
      {{ comment.value }}
    </div>
    <!-- /.comment-text -->
  </div>
 </div>
{% endfor %}