<div class="news-list">
    <div class="news-info col-xs-12 col-sm-12 col-md-11">
        <dl>
            <dt>
                <a href="javascript:;" target="_blank" >
                    {{ knowledge.title }}
                </a>
            </dt>
            <dd>
        <span class="name">
          <a href="javascript:;"  rel="author">分享者:{{ user.name }}</a>
        </span>
                <span class="identity"></span>
        <span class="time">
          分享日期:{{ knowledge.createdTime |date('Y年m月d日') }}
        </span>
            </dd>
            <dd class="text">{{ knowledge.summary }}</dd>
        </dl>
        <p>
            链接:
            <a href="http://{{ knowledge.content  }}">{{ knowledge.content  }}</a>
        </p>
        <div class="news_bot col-sm-7 col-md-8">
      <span class="tags visible-lg visible-md">
        <a href="avascript:;">技术贴</a>
        <a href="javascript:;">PHP</a>
      </span>
      <span class="look">
        <a class="pull-center collect-btn"  data-url="{{ path('knowledge_favorite', {id:knowledge.id}) }}" {% if knowledge.isFavorited %}style="display:none"{% endif %}>
          <i class="fa fa-fw fa-star-o"></i>
          <span class="collect-num">{{knowledge.favoriteNum}}</span>
        </a>
        <a class="pull-right uncollect-btn"  data-url="{{ path('knowledge_unfavorite', {id:knowledge.id}) }}" {% if not knowledge.isFavorited   %}style="display:none"{% endif %}>
          <i class="fa fa-fw fa-star"></i>
          <span class="uncollect-num" >{{knowledge.favoriteNum}}</span>
        </a>
      </span>
      <span class="look" id="likeMargin">
        <a class="pull-center like-btn"  data-url="{{ path('knowledge_like', {id:knowledge.id}) }}" {% if knowledge.isLiked %}style="display:none"{% endif %}>
          <i class="fa fa-fw fa-thumbs-o-up"></i>
          <span class="like-num">{{knowledge.likeNum}}</span>
        </a >
        <a class="pull-right dislike-btn"  data-url="{{ path('knowledge_dislike', {id:knowledge.id}) }}" {% if not knowledge.isLiked   %}style="display:none"{% endif %}>
          <i class="fa fa-fw fa-thumbs-up"></i>
          <span class="dislike-num" >{{knowledge.likeNum}}</span>
        </a> 
      </span>
        </div>
    </div>
</div>
